/**
*   Happy Hues Color Palette 9
*/

$background: #eff0f3;
$headline: #0d0d0d;
$paragraph: #2a2a2a;
$cardBackground: #fffffe;
$cardHeadline: #0d0d0d;
$cardParagraph: #2a2a2a;
$cardTagBackground: #ff8e3c;
$cardTagText: #fffffe;
$cardHighlight: #d0d0d0;
$button: #ff8e3c;
$buttonText: #0d0d0d;
$link: #ff8e3c;
